<form [formGroup]="form">
  <input
    placeholder="Nombre"
    formControlName="name"
    type="text"
    class="input-field col s12"
  />
  <input
    placeholder="Apellido"
    formControlName="lastName"
    type="text"
    class="input-field col s12"
  />
  <input
    placeholder="Edad"
    formControlName="age"
    type="text"
    class="input-field col s12"
  />
  <input
    placeholder="Fecha de nacimiento"
    formControlName="date"
    type="text"
    class="input-field col s12"
  />
  <input value="Submit" type="submit" [disabled]="form.invalid" (click)="createClient(form.value)" />
</form>

<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.name}} - {{item.lastName}} - {{item.age}} - {{item.date}}
  </li>
</ul>
